<!DOCTYPE html>
<html lang="en" phx-socket={live_socket_path(@conn)}>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no"/>
    <meta name="csrf-token" content={Phoenix.Controller.get_csrf_token()} />
    <title><%= assigns[:page_title] || "Kanta Dashboard" %></title>
    <link rel="stylesheet" nonce={csp_nonce(@conn, :style)} href={asset_path(@conn, :css)}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <script nonce={csp_nonce(@conn, :script)} src={asset_path(@conn, :js)} defer></script>
  </head>
  <body>
    <main>
        <div style="min-height: 640px" class="bg-slate-100">
          <div class="h-screen flex overflow-hidden bg-slate-100">
            <div class="hidden border-r border-slate-200 bg-white md:flex md:flex-shrink-0">
              <div class="flex flex-col w-72">
                <!-- Sidebar component, swap this element with another sidebar if you like -->
                <div class="flex flex-col h-0 flex-1">
                  <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
                    <div class="flex justify-start items-center mb-4">
                      <Logo.render class="ml-4 w-10 h-10 text-primary-dark" />
                      <div class="ml-4 text-4xl text-primary-dark fotn-medium">Kanta</div>
                    </div>
                    <nav class="mt-5 flex-1 px-2 space-y-3">
                      <%= link to: path(@conn, ~p"/kanta/dashboard"), class: "bg-white transition-all hover:bg-slate-100 border-slate-300 shadow-md text-primary-dark group flex items-center px-2 py-2 text-sm font-semibold rounded-md" do %>
                        <Lucide.inspect class="mr-3 flex-shrink-0 h-6 w-6 text-primary-dark" />
                        Dashboard
                      <% end %>
                      <%= link to: path(@conn, ~p"/kanta/locales"), class: "bg-white transition-all hover:bg-slate-100 border-slate-300 shadow-md text-primary-dark group flex items-center px-2 py-2 text-sm font-semibold rounded-md" do %>
                        <Lucide.languages class="mr-3 flex-shrink-0 h-6 w-6 text-primary-dark" />
                        Locales
                      <% end %>
                      <%= link to: path(@conn, ~p"/kanta/domains"), class: "bg-white transition-all hover:bg-slate-100 border-slate-300 shadow-md text-primary-dark group flex items-center px-2 py-2 text-sm font-semibold rounded-md" do %>
                        <Lucide.album class="mr-3 flex-shrink-0 h-6 w-6 text-primary-dark" />
                          Domains
                      <% end %>
                      <%= link to: path(@conn, ~p"/kanta/contexts"), class: "bg-white transition-all hover:bg-slate-100 border-slate-300 shadow-md text-primary-dark group flex items-center px-2 py-2 text-sm font-semibold rounded-md" do %>
                        <Lucide.box class="mr-3 flex-shrink-0 h-6 w-6 text-primary-dark" />
                          Contexts
                      <% end %>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-col w-0 flex-1 overflow-hidden">
              <div class="md:hidden pl-1 pt-1 sm:pl-3 sm:pt-3">
                <button class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-slate-500 hover:text-primary-dark focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary">
                  <span class="sr-only">Open sidebar</span>
                  <svg
                    class="h-6 w-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M4 6h16M4 12h16M4 18h16"
                    ></path>
                  </svg>
                </button>
              </div>
              <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none">
                <div class="py-6">
                  <div class="px-4 sm:px-6 md:px-8">
                    <%= @inner_content %>
                  </div>
                </div>
              </main>
            </div>
          </div>
        </div>
    </main>
</body>
</html>
