<!DOCTYPE html>
<html lang="en" phx-socket={live_socket_path(@conn)}>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no"/>
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />
    <title><%= assigns[:page_title] || "Kanta Dashboard" %></title>
    <link rel="stylesheet" nonce={csp_nonce(@conn, :style)} href={asset_path(@conn, :css)}>
    <script nonce={csp_nonce(@conn, :script)} src={asset_path(@conn, :js)} defer></script>
  </head>
  <body>
<main>
    <div style="min-height: 640px" class="bg-gray-100">
      <div class="h-screen flex overflow-hidden bg-gray-100">
        <div class="hidden bg-primary-main md:flex md:flex-shrink-0">
          <div class="flex flex-col w-72">
            <!-- Sidebar component, swap this element with another sidebar if you like -->
            <div class="flex flex-col h-0 flex-1">
              <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
                <div class="flex justify-center items-center mb-4">
                </div>
                <nav class="mt-5 flex-1 px-2 space-y-1">
                <%= link to: path(@conn, ~p"/kanta/locales"), class: "bg-primary-dark text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
                    <svg
                      class="mr-3 flex-shrink-0 h-6 w-6 text-primary-light"
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 0 1 6.412 9m6.088 9h7M11 21l5-10l5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129"
                      />
                    </svg>
                    Locales
                  <% end %>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col w-0 flex-1 overflow-hidden">
          <div class="md:hidden pl-1 pt-1 sm:pl-3 sm:pt-3">
            <button class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary-main">
              <span class="sr-only">Open sidebar</span>
              <svg
                class="h-6 w-6"
                x-description="Heroicon name: outline/menu"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                ></path>
              </svg>
            </button>
          </div>
          <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none">
            <div class="py-6">
              <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                <%= @inner_content %>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
</main>
</body>
</html>
